.app-footer {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  box-shadow: var(--box-shadow);
}

.app-footer button {
  margin-left: 20px;
  padding: 8px 16px;
  background-color: var(--color-secondary);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: var(--box-shadow);
}
